@import "tailwindcss";

@theme {
  --color-tusky-green: #99b898;
  --color-tusky-peach: #feceab;
  --color-tusky-coral: #ff847c;
  --color-tusky-red: #e84a5f;
  --color-tusky-teal: #2a363b;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
